.cards{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin:  1rem auto;
}
.btnAdd{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #232222;
    border-radius: 5px;
    background-color: #252324;
    color: #FBFBFB;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
    margin-top: 50px;
}
.btnAdd:hover{
    background-color: #FBFBFB;
    color: #252324;
}



/* Step 4: CSS styles for the pop-up/modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the modal appears on top */
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .submit-btn {
    background-color: #252324;
    color: #fbfbfb;
    border: none;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #fbfbfb;
    color: #252324;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
  }
  .form input{
    width: 100%;
    height: 30px;
    border: 1px solid #252324;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
  .form select{
    width: 100%;
    height: 30px;
    border: 1px solid #252324;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
  .closebtn{
    top: 0;
    right: 0;
    font-size: 25px;
    margin-left: 90%;
    cursor: pointer;
    color: #252324;
    border: none;
    background-color: transparent;
  }