.bannerImg{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}
.headline{
    font: 1em sans-serif;
    font-weight: bold;
    color: #D61D1E;
    text-align: center;
    margin: -80px;
}
.headline p{
    color: #000000;
}
.googleSignin{
    display: inline-block;
    background: white;
    color: #444;
    width: 250px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    gap: 10px;
}

.popUpWindow{
    width: 410px;
}